<a href="https://colab.research.google.com/github/sahana0007/Spark/blob/main/DF_Highest%20salary_by%20dept_window_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [10]:
from pyspark import SparkContext, SparkConf
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("getNthhighestSalary").master("local[*]").getOrCreate()

#sc = SparkContext("local","PySpark Rank")
#conf = SparkConf().setAppName("Pyspark Project").setMaster("local")
#sc = SparkContext (conf = conf)

Find top 3 salary departmentwise

In [11]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number
from pyspark import SparkContext
from pyspark.sql import SQLContext

#file_rdd = sc.textFile("/content/Salaries1.txt")

In [12]:
df = spark.read\
      .format("csv")\
      .option("header", "true")\
      .option("inferSchema", "true")\
      .csv("/content/Salaries1.csv")

In [13]:
df.show()

+---+------------------+--------------------+---------+-----------+---------+--------+---------+----------------+----+-----+-------------+------+------------+
| Id|      EmployeeName|            JobTitle|  BasePay|OvertimePay| OtherPay|Benefits| TotalPay|TotalPayBenefits|Year|Notes|       Agency|Status|DepartmentId|
+---+------------------+--------------------+---------+-----------+---------+--------+---------+----------------+----+-----+-------------+------+------------+
|  1|    NATHANIEL FORD|GENERAL MANAGER-M...|167411.18|        0.0|400184.25|    null|567595.43|       567595.43|2011| null|San Francisco|  null|           7|
|  2|      GARY JIMENEZ|CAPTAIN III (POLI...|155966.02|  245131.88|137811.38|    null|538909.28|       538909.28|2011| null|San Francisco|  null|           7|
|  3|    ALBERT PARDINI|CAPTAIN III (POLI...|212739.13|  106088.18|  16452.6|    null|335279.91|       335279.91|2011| null|San Francisco|  null|           7|
|  4| CHRISTOPHER CHONG|WIRE ROPE CABLE M...|  77916.0|   56120.71| 198306.9|    null|332343.61|       332343.61|2011| null|San Francisco|  null|           7|
|  5|   PATRICK GARDNER|DEPUTY CHIEF OF D...| 134401.6|     9737.0|182234.59|    null|326373.19|       326373.19|2011| null|San Francisco|  null|           7|
|  6|    DAVID SULLIVAN|ASSISTANT DEPUTY ...| 118602.0|     8601.0|189082.74|    null|316285.74|       316285.74|2011| null|San Francisco|  null|           7|
|  7|         ALSON LEE|BATTALION CHIEF, ...| 92492.01|    89062.9|134426.14|    null|315981.05|       315981.05|2011| null|San Francisco|  null|           7|
|  8|     DAVID KUSHNER|DEPUTY DIRECTOR O...|256576.96|        0.0|  51322.5|    null|307899.46|       307899.46|2011| null|San Francisco|  null|           7|
|  9|    MICHAEL MORRIS|BATTALION CHIEF, ...|176932.64|   86362.68| 40132.23|    null|303427.55|       303427.55|2011| null|San Francisco|  null|           7|
| 10|JOANNE HAYES-WHITE|CHIEF OF DEPARTME...| 285262.0|        0.0| 17115.73|    null|302377.73|       302377.73|2011| null|San Francisco|  null|           7|
| 11|     ARTHUR KENNEY|ASSISTANT CHIEF O...|194999.39|   71344.88|  33149.9|    null|299494.17|       299494.17|2011| null|San Francisco|  null|           7|
| 12|  PATRICIA JACKSON|CAPTAIN III (POLI...|  99722.0|   87082.62| 110804.3|    null|297608.92|       297608.92|2011| null|San Francisco|  null|           7|
| 13| EDWARD HARRINGTON|EXECUTIVE CONTRAC...|294580.02|        0.0|      0.0|    null|294580.02|       294580.02|2011| null|San Francisco|  null|           7|
| 14|       JOHN MARTIN|   DEPARTMENT HEAD V|271329.03|        0.0| 21342.59|    null|292671.62|       292671.62|2011| null|San Francisco|  null|           7|
| 15|    DAVID FRANKLIN|BATTALION CHIEF, ...|174872.64|    74050.3| 37424.11|    null|286347.05|       286347.05|2011| null|San Francisco|  null|           7|
| 16|   RICHARD CORRIEA|COMMANDER III, (P...|198778.01|    73478.2| 13957.65|    null|286213.86|       286213.86|2011| null|San Francisco|  null|           7|
| 17|          AMY HART|   DEPARTMENT HEAD V|268604.57|        0.0| 16115.86|    null|284720.43|       284720.43|2011| null|San Francisco|  null|           7|
| 18|    SEBASTIAN WONG|CAPTAIN, EMERGENC...|140546.87|  119397.26| 18625.08|    null|278569.21|       278569.21|2011| null|San Francisco|  null|           7|
| 19|        MARTY ROSS|BATTALION CHIEF, ...|168692.63|   69626.12| 38115.47|    null|276434.22|       276434.22|2011| null|San Francisco|  null|           7|
| 20|     ELLEN MOFFATT|ASSISTANT MEDICAL...|257510.59|     880.16|  16159.5|    null|274550.25|       274550.25|2011| null|San Francisco|  null|           7|
+---+------------------+--------------------+---------+-----------+---------+--------+---------+----------------+----+-----+-------------+------+------------+
only showing top 20 rows

In [14]:
from pyspark.sql.functions import col, dense_rank
from pyspark.sql.window import Window

In [15]:
windowfn = Window.partitionBy(col("DepartmentId")).orderBy(col("TotalPay"))

In [16]:
df_salary_rank = df.withColumn("salary_rank", dense_rank().over (windowfn))

In [17]:
df_salary_rank.show()

+---+----------------+--------------------+---------+-----------+---------+--------+---------+----------------+----+-----+-------------+------+------------+-----------+
| Id|    EmployeeName|            JobTitle|  BasePay|OvertimePay| OtherPay|Benefits| TotalPay|TotalPayBenefits|Year|Notes|       Agency|Status|DepartmentId|salary_rank|
+---+----------------+--------------------+---------+-----------+---------+--------+---------+----------------+----+-----+-------------+------+------------+-----------+
| 42|   THOMAS ABBOTT|BATTALION CHIEF, ...|168692.63|    59760.9| 21954.96|    null|250408.49|       250408.49|2011| null|San Francisco|  null|           7|          1|
| 41|MICHAEL THOMPSON|BATTALION CHIEF, ...|168692.66|   60847.56| 21055.17|    null|250595.39|       250595.39|2011| null|San Francisco|  null|           7|          2|
| 40|    BRENDAN WARD|BATTALION CHIEF, ...|147158.85|   64985.85| 39540.46|    null|251685.16|       251685.16|2011| null|San Francisco|  null|           7|          3|
| 39|      JONES WONG|LIEUTENANT III (P...|132202.26|   52648.92| 67083.83|    null|251935.01|       251935.01|2011| null|San Francisco|  null|           7|          4|
| 38|     JAMES BOSCH|INSPECTOR III, (P...| 110661.2|   31162.04| 111446.2|    null|253269.44|       253269.44|2011| null|San Francisco|  null|           7|          5|
| 37|    SUSAN CURRIN|ADMINISTRATOR, SF...|245124.44|        0.0|  12000.0|    null|257124.44|       257124.44|2011| null|San Francisco|  null|           7|          6|
| 36|      KHOA TRINH|ELECTRONIC MAINTE...| 101953.2|  139102.95| 16483.94|    null|257540.09|       257540.09|2011| null|San Francisco|  null|           7|          7|
| 35|       JOSE VELO|BATTALION CHIEF, ...|177781.25|   59924.97|  20658.0|    null|258364.22|       258364.22|2011| null|San Francisco|  null|           7|          8|
| 34|      JOHN TURSI|INSPECTOR III, (P...|104861.39|   50227.61|103499.39|    null|258588.39|       258588.39|2011| null|San Francisco|  null|           7|          9|
| 33|     GARY AMELIO|   DEPARTMENT HEAD V| 248895.7|        0.0| 10789.18|    null|259684.88|       259684.88|2011| null|San Francisco|  null|           7|         10|
| 32|     DAVID SHINN|DEPUTY CHIEF III ...|254027.63|        0.0|  5899.48|    null|259927.11|       259927.11|2011| null|San Francisco|  null|           7|         11|
| 31| HARLAN KELLY-JR|EXECUTIVE CONTRAC...|234325.02|        0.0| 25972.64|    null|260297.66|       260297.66|2011| null|San Francisco|  null|           7|         12|
| 30|   MONICA FIELDS|DEPUTY CHIEF OF D...| 246225.6|        0.0| 15140.54|    null|261366.14|       261366.14|2011| null|San Francisco|  null|           7|         13|
| 29|  DENISE SCHMITT|DEPUTY CHIEF III ...| 261717.6|        0.0|   2357.0|    null| 264074.6|        264074.6|2011| null|San Francisco|  null|           7|         14|
| 28|  RAYMOND GUZMAN|BATTALION CHIEF, ...|168692.59|   80706.88| 16063.99|    null|265463.46|       265463.46|2011| null|San Francisco|  null|           7|         15|
| 27|     JOHN HANLEY|CAPTAIN, FIRE SUP...|  92080.8|    40008.0|133695.76|    null|265784.56|       265784.56|2011| null|San Francisco|  null|           7|         16|
| 26|    GREGORY SUHR|     CHIEF OF POLICE|256470.41|        0.0| 11522.18|    null|267992.59|       267992.59|2011| null|San Francisco|  null|           7|         17|
| 25| JOSEPH DRISCOLL|CAPTAIN, FIRE SUP...|140546.86|   97868.77| 31909.28|    null|270324.91|       270324.91|2011| null|San Francisco|  null|           7|         18|
| 24|   VICTOR WYRSCH|BATTALION CHIEF, ...|168692.63|   77896.14| 24083.86|    null|270672.63|       270672.63|2011| null|San Francisco|  null|           7|         19|
| 23|   GEORGE GARCIA|CAPTAIN, FIRE SUP...|140546.88|   93200.58| 39955.25|    null|273702.71|       273702.71|2011| null|San Francisco|  null|           7|         20|
+---+----------------+--------------------+---------+-----------+---------+--------+---------+----------------+----+-----+-------------+------+------------+-----------+
only showing top 20 rows

In [18]:
n = int(input("Enter the value of n: "))
print("n is: ", n)

df_salary_rank.filter(f"salary_rank == {n}").show()

Enter the value of n: 7
n is:  7
+----+--------------+--------------------+---------+-----------+--------+--------+---------+----------------+----+-----+-------------+------+------------+-----------+
|  Id|  EmployeeName|            JobTitle|  BasePay|OvertimePay|OtherPay|Benefits| TotalPay|TotalPayBenefits|Year|Notes|       Agency|Status|DepartmentId|salary_rank|
+----+--------------+--------------------+---------+-----------+--------+--------+---------+----------------+----+-----+-------------+------+------------+-----------+
|  36|    KHOA TRINH|ELECTRONIC MAINTE...| 101953.2|  139102.95|16483.94|    null|257540.09|       257540.09|2011| null|San Francisco|  null|           7|          7|
| 317|      BOND YEE|DEPUTY DIRECTOR I...| 195256.1|        0.0|   408.0|    null| 195664.1|        195664.1|2011| null|San Francisco|  null|           8|          7|
| 552| DENISE NEWMAN|BATTALION CHIEF, ...| 168713.2|    5340.28|10122.78|    null|184176.26|       184176.26|2011| null|San Francisco|  null|           9|          7|
|1246|   SALLY GRATZ|ATTORNEY (CIVIL/C...|164373.39|        0.0|     0.0|    null|164373.39|       164373.39|2011| null|San Francisco|  null|          10|          7|
|1247|PAUL SPRAGGINS|ATTORNEY (CIVIL/C...|164373.39|        0.0|     0.0|    null|164373.39|       164373.39|2011| null|San Francisco|  null|          10|          7|
|1248| JOEL BLACKMAN|ATTORNEY (CIVIL/C...|164373.39|        0.0|     0.0|    null|164373.39|       164373.39|2011| null|San Francisco|  null|          10|          7|
|2002|   SWATI PATEL|SUPERVISING PHARM...|151888.03|        0.0|  1200.0|    null|153088.03|       153088.03|2011| null|San Francisco|  null|          11|          7|
+----+--------------+--------------------+---------+-----------+--------+--------+---------+----------------+----+-----+-------------+------+------------+-----------+

In [19]:
df.createOrReplaceTempView("Employee")

In [33]:
sqlDF = spark.sql("Select EmployeeName, TotalPay, DepartmentId , (rank() over(partition by DepartmentId order by TotalPay DESC)) as rank from Employee")

+----------------+---------+------------+----+
|    EmployeeName| TotalPay|DepartmentId|rank|
+----------------+---------+------------+----+
|       ALSON LEE|315981.05|           7|   7|
|    JAMES DUDLEY|248718.64|           8|   7|
|MICHAEL GONZALES|195232.37|           9|   7|
|   ELISA RAMIREZ|183656.84|          10|   7|
+----------------+---------+------------+----+

In [34]:
n = int(input("Enter the value of n: "))
print("n is: ", n)
sqlDF.filter(f"rank=={n}").show()

Enter the value of n: 5
n is:  5
+----------------+---------+------------+----+
|    EmployeeName| TotalPay|DepartmentId|rank|
+----------------+---------+------------+----+
| PATRICK GARDNER|326373.19|           7|   5|
|BRYAN RUBENSTEIN| 249293.3|           8|   5|
|RUDY CASTELLANOS|195290.76|           9|   5|
|JOSHUA BAMBERGER|183754.57|          10|   5|
+----------------+---------+------------+----+